<%# add navigation links to this file %>

<li class="name"><%= link_to 'Rooms', rooms_path %></li>
<li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
<li class="name"><%= link_to 'Reservations', reservations_path %></li>
<li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
<li class="name"><%= link_to 'Campus', campus_path %></li>
<li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>